@import "config";
@import "variables";
@import "include-media";

// Globals
body {
  background: url("../images/bg-mobile.png") repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $font-Raleway;
  color: $transparent-white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  background: $neutral-dark-blue;
  border-radius: 10px;
  width: 73%;
  min-height: 95px;
  padding: 2em;
  margin-bottom: 1em;
  &--curved-border {
    min-height: 135px;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
  }
}

// utility
.flex {
  display: flex;
}
.bold {
  font-weight: 700 !important;
}
.ml-1 {
  margin-left: 0.2em;
}

// UploaderComponent
.section {
  &__logo {
    margin-bottom: 1em;
  }
  &__actions {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
  &__actions-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background: $neutral-very-dark-blue;
    margin-right: 1em;
    border-radius: 0.7em;
  }
}
// StatsComponent

.section__info {
  text-align: center;
}

.section__progress-bar {
  background-color: $neutral-very-dark-blue;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 1em auto;
  height: 12px;
  max-width: 98%;
  padding: 3px;
}
.section__caption {
  justify-content: space-between;
}
.section__progress {
  background: $primary-gradient;
  border-radius: 20px;
  height: 12px;
  width: 80%;
  transition: width 0.5s ease-in;
  &-indicator {
    width: 9px;
    height: 9px;
    margin: auto 2px auto auto;
    background-color: $transparent-white;
    position: relative;
    top: 13%;
    border-radius: 10px;
  }
}
.section {
  &__storage-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 48%;
    border-radius: 10px;
    background: white;
    position: relative;
    top: -7vh;
    color: black;
    text-align: center;
  }
  &__storage-info {
    font-size: 2.4em;
  }
}

// Media Queries

// less than phone
@include media("<=phone") {
  .section__storage-info-container {
    background: yellow;
  }
}
// grey area b/n tablet and phone
@include media(">tablet", "<=desktop") {
  .container {
    display: flex;
    flex-direction: row;
    border: solid red 2px;
  }
  .section__storage-info-container {
    background: green;
    position: absolute;
  }
  .section {
    max-width: 300px;
  }
}

// greater than desktop
@include media(">=desktop") {
  body {
    background: url("../images/bg-desktop.png") no-repeat;
    background-position: 1px 50vh;
    background-size: contain;
    background-color: $neutral-very-dark-blue;
  }

  .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .section {
    max-width: 35rem;
    min-height: 5.3rem;
    margin: 0 1em;
    &__info {
      margin-top: 4.2rem;
    }
    &--curved-border {
      min-height: 10.3rem;
      max-width: 20rem;

      border-top-right-radius: 100px;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      justify-content: center;
    }
  }
  .section__storage-info-container {
    width: 10em;
    position: absolute;
    top: 41vh;
    right: 23%;
  }
  .section__storage-info-container::before {
    content: "";
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;

    border-left: 20px solid transparent;
    position: absolute;
    top: 5.5vh;
    right: 0vh;
  }
}
