@import "config";
@import "variables";

// Globals
body {
  background: url("../images/bg-mobile.png") repeat;
  background-size: cover;
  font-family: $font-Raleway;
  color: $transparent-white;
}

.container {
  border: solid red 1px;
  height: 600px;
  width: 85vw;
}

.section {
  width: 100%;
  border: solid green 2px;
  min-height: 200px;
  background: $neutral-dark-blue;
  border-radius: 10px;
  padding: 2em 1em;
}

// utility
// .flex {
//   display: flex;
// }

// UploaderComponent

// StatsComponent

.section__info {
  width: 80%;
  margin:0 auto;
  border: solid yellow 2px;
  text-align: center;
}
.section__progress-bar {
  background-color: $neutral-very-dark-blue;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  height: 25px;
  max-width: 80%;
  padding: 3px;
}
.section__caption {
  justify-content: space-between;
}
.section__progress {
  background: $primary-gradient;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  transition: width 0.5s ease-in;
  &-indicator {
    width: 20px;
    height: 20px;
    margin: auto 5px auto auto;
    background-color: $transparent-white;
    position: relative;
    top: 10%;
    border-radius: 10px;
  }
}
