@import "config";
@import "variables";

// Globals
body {
  background: url("../images/bg-mobile.png") repeat;
  background-size: cover;
  font-family: $font-Raleway;
  color: $transparent-white;
}

.container {
  min-height: 100vh;
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  border: solid green 2px;
  background: $neutral-dark-blue;
  border-radius: 10px;
  width: 77%;
  padding: 2em 1em;
  margin-bottom: 1em;
  &--curved-border {
    min-height: 135px;
    border-top-right-radius: 100px;
  }
}

// utility
.flex {
  display: flex;
}

// UploaderComponent

// StatsComponent

// .section__info {
//   margin: 0 auto;
//   border: solid yellow 2px;
//   text-align: center;
// }

.section {
  &__storage-number {
    height: 4.5em;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    background: white;
    position: absolute;
    top: 1;
  }
}
.section__progress-bar {
  background-color: $neutral-very-dark-blue;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  height: 12px;
  max-width: 90%;
  padding: 3px;
}
.section__caption {
  justify-content: space-between;
}
.section__progress {
  background: $primary-gradient;
  border-radius: 20px;
  height: 12px;
  width: 80%;
  transition: width 0.5s ease-in;
  &-indicator {
    width: 9px;
    height: 9px;
    margin: auto 2px auto auto;
    background-color: $transparent-white;
    position: relative;
    top: 13%;
    border-radius: 10px;
  }
  &__paragraph {
    color: hsl(229, 57%, 11%);
  }
}
